canvas {
  display: block; /* 캔버스를 블록 요소로 설정하여 불필요한 여백을 없애줍니다. */
  margin: 0; /* 여백을 0으로 설정합니다. */
  padding: 0; /* 안쪽 여백을 0으로 설정합니다. */
  background-color: black;
}
img {
  display: block;
  max-width: 100%; /* 이미지가 부모 컨테이너의 최대 너비에 맞게 조절됩니다. */
  height: auto; /* 가로세로 비율을 유지하여 이미지가 늘어납니다. */
  transition: transform 0.3s ease;
}

.image-container {
  display: flex; /* 컨테이너를 수평 가운데 정렬하기 위해 flex 사용합니다. */
  flex-wrap: wrap; /* 이미지를 자동으로 줄 바꿈합니다. */
  justify-content: center; /* 가로 방향 가운데 정렬합니다. */
  align-items: center; /* 세로 방향 가운데 정렬합니다. */
  background-color: rgb(0, 0, 0); /* 이미지 컨테이너 배경을 블랙으로 설정합니다. */
  gap: 0; /* 이미지 사이 간격을 0으로 설정합니다. */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6개의 열을 동일한 비율로 설정 */
  grid-template-rows: repeat(6, 1fr); /* 6개의 행을 동일한 비율로 설정 */
  gap: 10px; /* 그리드 항목 사이의 간격 */
  width: 600px; /* 그리드 컨테이너의 너비를 600px로 고정 */
  height: 600px; /* 그리드 컨테이너의 높이를 600px로 고정 */
  justify-content: center;
  align-items: center;
}

body {
  margin: 0; /* body의 기본 마진을 제거합니다. */
  overflow: hidden; /* body 영역 밖으로 벗어나는 내용을 잘라냅니다. */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh; /* 화면 높이 100%를 사용합니다. */
}
.info-message {
  position: fixed; /* 고정 위치 */
  top: 10px; /* 상단에서 10px 떨어진 위치 */
  right: 10px; /* 오른쪽에서 10px 떨어진 위치 */
  background-color: rgba(255, 255, 255, 0.8); /* 반투명한 흰색 배경 */
  padding: 10px; /* 내부 여백 */
  border-radius: 5px; /* 모서리 둥글게 */
  font-size: 0.8em; /* 작은 글꼴 크기 */
  z-index: 100; /* 다른 요소들 위에 표시  */
}
